/* GENERICS */
figure{
    margin: 0;
}

.btn-warning{
    color: white;
    background: #CD3C10;
    border: none;
}

.container-fluid{
    --bs-gutter-x: 0;
}


/* HEADER */

.header-top .sony-logo{
   display: flex;
   flex-basis: 50px;
}

/* navbar */

.navbar-container{
    
}

.navbar-collapse {
    align-items: unset;
}

nav .lens{
    position: relative;
    width: 25px;
    margin-left: 10px;
    top: 5px;
}

/* jumbo */

.jumbotron .cover-img{
    width: 100%;
    height: 90vh;
}


.jumbo-text{
    color:white;
    bottom: 20px; 
    left: 50px;
}

/* under-jumbo */

.under-jumbo img{
    border: 2px solid white;
}

.under-jumbo .image-container:hover{
    border: 2px solid #2C64E6;
    
}




